services:
  postgres:
    image: postgres:16-alpine
    container_name: mental-health-db
    command: >
      postgres 
      -c listen_addresses='*'
      -c password_encryption=scram-sha-256
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: mental_health_db
      POSTGRES_INITDB_ARGS: "--auth-host=scram-sha-256 --auth-local=scram-sha-256"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -h localhost"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  postgres_data:
